DirectX11_Starter/Debug/DirectX11_Starter.log
DirectX11_Starter/Release/DirectX11_Starter.log
.suo,.exe,.ilk,.pdb,.sdf,.tlog,.lastbuildstate,.idb
DirectX11_Starter.opensdf
DirectX11_Starter.sdf
Debug/BlurPS.cso
Debug/BlurVS.cso
Debug/Brightness.cso
Debug/MergeShader.cso
.vs/DirectX11_Starter/v14/.suo
Debug/DirectX11_Starter.exe
Debug/DirectX11_Starter.ilk
Debug/DirectX11_Starter.pdb
Debug/NormalMapping.cso
Debug/ParallaxMapping.cso
Debug/ParallaxVertexShader.cso
Debug/PixelShader.cso
Debug/VertexShader.cso
Debug/skyPS.cso
Debug/skyVS.cso
DirectX11_Starter/Debug/Camera.obj
DirectX11_Starter/Debug/DirectX1.FEB50FC0.tlog/CL.command.1.tlog
DirectX11_Starter/Debug/DirectX1.FEB50FC0.tlog/CL.read.1.tlog
DirectX11_Starter/Debug/DirectX1.FEB50FC0.tlog/CL.write.1.tlog
DirectX11_Starter/Debug/DirectX1.FEB50FC0.tlog/DirectX11_Starter.lastbuildstate
DirectX11_Starter/Debug/DirectX1.FEB50FC0.tlog/DirectX11_Starter.write.1u.tlog
DirectX11_Starter/Debug/DirectX1.FEB50FC0.tlog/FXC.read.1.tlog
DirectX11_Starter/Debug/DirectX1.FEB50FC0.tlog/FXC.write.1.tlog
DirectX11_Starter/Debug/DirectX1.FEB50FC0.tlog/link.command.1.tlog
DirectX11_Starter/Debug/DirectX1.FEB50FC0.tlog/link.read.1.tlog
DirectX11_Starter/Debug/DirectX1.FEB50FC0.tlog/link.write.1.tlog
DirectX11_Starter/Debug/DirectX1.FEB50FC0.tlog/unsuccessfulbuild
DirectX11_Starter/Debug/DirectXGameCore.obj
DirectX11_Starter/Debug/GameObject.obj
DirectX11_Starter/Debug/InputManager.obj
DirectX11_Starter/Debug/Material.obj
DirectX11_Starter/Debug/Mesh.obj
DirectX11_Starter/Debug/SimpleShader.obj
DirectX11_Starter/Debug/SkyBox.obj
DirectX11_Starter/Debug/dxerr.obj
DirectX11_Starter/Debug/imgui.obj
DirectX11_Starter/Debug/imgui_demo.obj
DirectX11_Starter/Debug/imgui_draw.obj
DirectX11_Starter/Debug/imgui_impl_dx11.obj
DirectX11_Starter/Debug/vc140.idb
DirectX11_Starter/Debug/vc140.pdb
